--
-- PostgreSQL database dump
--

\restrict wRAUG04NXunnpBdL0IetVWS0ZUv07wolyK14iUgPX4qZ8ab5FSJimSEv4QuotRS

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: unaccent; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS unaccent WITH SCHEMA public;


--
-- Name: EXTENSION unaccent; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION unaccent IS 'text search dictionary that removes accents';


--
-- Name: notify_messenger_messages(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.notify_messenger_messages() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
            BEGIN
                PERFORM pg_notify('messenger_messages', NEW.queue_name::text);
                RETURN NEW;
            END;
        $$;


ALTER FUNCTION public.notify_messenger_messages() OWNER TO app;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: author; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.author (
    id integer NOT NULL,
    family_name character varying(50) NOT NULL,
    first_name character varying(50) DEFAULT NULL::character varying,
    description text NOT NULL
);


ALTER TABLE public.author OWNER TO app;

--
-- Name: author_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.author_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.author_id_seq OWNER TO app;

--
-- Name: author_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.author_id_seq OWNED BY public.author.id;


--
-- Name: book; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.book (
    id integer NOT NULL,
    author_id integer NOT NULL,
    title character varying(50) NOT NULL,
    summary text NOT NULL,
    publication_date date NOT NULL,
    genre character varying(50) NOT NULL,
    theme character varying(50) NOT NULL,
    edition character varying(50) NOT NULL,
    cover character varying(255) DEFAULT NULL::character varying
);


ALTER TABLE public.book OWNER TO app;

--
-- Name: book_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.book_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.book_id_seq OWNER TO app;

--
-- Name: book_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.book_id_seq OWNED BY public.book.id;


--
-- Name: bookshelf; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.bookshelf (
    id integer NOT NULL,
    utilisateur_id integer NOT NULL,
    book_id integer NOT NULL,
    reading_status_id integer NOT NULL
);


ALTER TABLE public.bookshelf OWNER TO app;

--
-- Name: bookshelf_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.bookshelf_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bookshelf_id_seq OWNER TO app;

--
-- Name: bookshelf_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.bookshelf_id_seq OWNED BY public.bookshelf.id;


--
-- Name: club; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.club (
    id integer NOT NULL,
    creator_id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text NOT NULL,
    creation_date date NOT NULL,
    status character varying(50) NOT NULL
);


ALTER TABLE public.club OWNER TO app;

--
-- Name: club_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.club_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.club_id_seq OWNER TO app;

--
-- Name: club_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.club_id_seq OWNED BY public.club.id;


--
-- Name: doctrine_migration_versions; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.doctrine_migration_versions (
    version character varying(191) NOT NULL,
    executed_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone,
    execution_time integer
);


ALTER TABLE public.doctrine_migration_versions OWNER TO app;

--
-- Name: messenger_messages; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.messenger_messages (
    id bigint NOT NULL,
    body text NOT NULL,
    headers text NOT NULL,
    queue_name character varying(190) NOT NULL,
    created_at timestamp(0) without time zone NOT NULL,
    available_at timestamp(0) without time zone NOT NULL,
    delivered_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone
);


ALTER TABLE public.messenger_messages OWNER TO app;

--
-- Name: COLUMN messenger_messages.created_at; Type: COMMENT; Schema: public; Owner: app
--

COMMENT ON COLUMN public.messenger_messages.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN messenger_messages.available_at; Type: COMMENT; Schema: public; Owner: app
--

COMMENT ON COLUMN public.messenger_messages.available_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN messenger_messages.delivered_at; Type: COMMENT; Schema: public; Owner: app
--

COMMENT ON COLUMN public.messenger_messages.delivered_at IS '(DC2Type:datetime_immutable)';


--
-- Name: messenger_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.messenger_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messenger_messages_id_seq OWNER TO app;

--
-- Name: messenger_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.messenger_messages_id_seq OWNED BY public.messenger_messages.id;


--
-- Name: reading_history; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.reading_history (
    id integer NOT NULL,
    utilisateur_id integer NOT NULL,
    book_id integer NOT NULL,
    reading_date date NOT NULL
);


ALTER TABLE public.reading_history OWNER TO app;

--
-- Name: reading_history_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.reading_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reading_history_id_seq OWNER TO app;

--
-- Name: reading_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.reading_history_id_seq OWNED BY public.reading_history.id;


--
-- Name: reading_status; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.reading_status (
    id integer NOT NULL,
    label character varying(50) NOT NULL
);


ALTER TABLE public.reading_status OWNER TO app;

--
-- Name: reading_status_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.reading_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reading_status_id_seq OWNER TO app;

--
-- Name: reading_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.reading_status_id_seq OWNED BY public.reading_status.id;


--
-- Name: report; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.report (
    id integer NOT NULL,
    author_id integer NOT NULL,
    reported_id integer NOT NULL,
    date date NOT NULL,
    message text NOT NULL,
    status character varying(50) NOT NULL
);


ALTER TABLE public.report OWNER TO app;

--
-- Name: report_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.report_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.report_id_seq OWNER TO app;

--
-- Name: report_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.report_id_seq OWNED BY public.report.id;


--
-- Name: review; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.review (
    id integer NOT NULL,
    utilisateur_id integer NOT NULL,
    book_id integer NOT NULL,
    author_id integer NOT NULL,
    comment text NOT NULL,
    rating smallint NOT NULL,
    date date NOT NULL
);


ALTER TABLE public.review OWNER TO app;

--
-- Name: review_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.review_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.review_id_seq OWNER TO app;

--
-- Name: review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.review_id_seq OWNED BY public.review.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.role (
    id integer NOT NULL,
    label character varying(50) NOT NULL
);


ALTER TABLE public.role OWNER TO app;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_id_seq OWNER TO app;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: utilisateur; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.utilisateur (
    id integer NOT NULL,
    role_id integer,
    family_name character varying(50) NOT NULL,
    first_name character varying(50) NOT NULL,
    pseudo character varying(50) NOT NULL,
    email character varying(180) NOT NULL,
    password character varying(255) NOT NULL,
    birth_date date NOT NULL,
    status character varying(20) NOT NULL,
    profile_picture character varying(255) DEFAULT NULL::character varying,
    presentation text,
    preferences json
);


ALTER TABLE public.utilisateur OWNER TO app;

--
-- Name: utilisateur_club; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.utilisateur_club (
    utilisateur_id integer NOT NULL,
    club_id integer NOT NULL
);


ALTER TABLE public.utilisateur_club OWNER TO app;

--
-- Name: utilisateur_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.utilisateur_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utilisateur_id_seq OWNER TO app;

--
-- Name: utilisateur_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.utilisateur_id_seq OWNED BY public.utilisateur.id;


--
-- Name: author id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.author ALTER COLUMN id SET DEFAULT nextval('public.author_id_seq'::regclass);


--
-- Name: book id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.book ALTER COLUMN id SET DEFAULT nextval('public.book_id_seq'::regclass);


--
-- Name: bookshelf id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.bookshelf ALTER COLUMN id SET DEFAULT nextval('public.bookshelf_id_seq'::regclass);


--
-- Name: club id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.club ALTER COLUMN id SET DEFAULT nextval('public.club_id_seq'::regclass);


--
-- Name: messenger_messages id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.messenger_messages ALTER COLUMN id SET DEFAULT nextval('public.messenger_messages_id_seq'::regclass);


--
-- Name: reading_history id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.reading_history ALTER COLUMN id SET DEFAULT nextval('public.reading_history_id_seq'::regclass);


--
-- Name: reading_status id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.reading_status ALTER COLUMN id SET DEFAULT nextval('public.reading_status_id_seq'::regclass);


--
-- Name: report id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.report ALTER COLUMN id SET DEFAULT nextval('public.report_id_seq'::regclass);


--
-- Name: review id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.review ALTER COLUMN id SET DEFAULT nextval('public.review_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: utilisateur id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.utilisateur ALTER COLUMN id SET DEFAULT nextval('public.utilisateur_id_seq'::regclass);


--
-- Data for Name: author; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.author (id, family_name, first_name, description) FROM stdin;
\.


--
-- Data for Name: book; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.book (id, author_id, title, summary, publication_date, genre, theme, edition, cover) FROM stdin;
\.


--
-- Data for Name: bookshelf; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.bookshelf (id, utilisateur_id, book_id, reading_status_id) FROM stdin;
\.


--
-- Data for Name: club; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.club (id, creator_id, name, description, creation_date, status) FROM stdin;
\.


--
-- Data for Name: doctrine_migration_versions; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: messenger_messages; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.messenger_messages (id, body, headers, queue_name, created_at, available_at, delivered_at) FROM stdin;
\.


--
-- Data for Name: reading_history; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.reading_history (id, utilisateur_id, book_id, reading_date) FROM stdin;
\.


--
-- Data for Name: reading_status; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.reading_status (id, label) FROM stdin;
28	en_train_de_lire
29	coup_de_coeur
30	adore
31	apprecie
32	mitige
33	pas_aime
34	lu_aussi
35	pal
36	envies
\.


--
-- Data for Name: report; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.report (id, author_id, reported_id, date, message, status) FROM stdin;
\.


--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.review (id, utilisateur_id, book_id, author_id, comment, rating, date) FROM stdin;
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.role (id, label) FROM stdin;
10	ROLE_ADMIN
11	ROLE_EMPLOYE
12	ROLE_USER
\.


--
-- Data for Name: utilisateur; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.utilisateur (id, role_id, family_name, first_name, pseudo, email, password, birth_date, status, profile_picture, presentation, preferences) FROM stdin;
4	10	Storylia	Admin	SuperAdmin	admin@admin.com	$2y$13$OEYGYSWtHabElFVK1FVuP.DO.rjStfU1ZQPxwCcSu2wrcw28/yAES	1999-01-04	actif	default.png	\N	[]
5	12	Dandelion	Elliott	H├®lio	test@test.fr	$2y$13$quE0ViH/E1HIm1zCOCnzY.q0/y4vVoI0Z4TjjgrYPhQH4UBjv2o2C	1994-06-09	actif	68fb44a1c443e.jpg	\N	[]
\.


--
-- Data for Name: utilisateur_club; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.utilisateur_club (utilisateur_id, club_id) FROM stdin;
\.


--
-- Name: author_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.author_id_seq', 1, false);


--
-- Name: book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.book_id_seq', 1, false);


--
-- Name: bookshelf_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.bookshelf_id_seq', 1, false);


--
-- Name: club_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.club_id_seq', 1, false);


--
-- Name: messenger_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.messenger_messages_id_seq', 1, false);


--
-- Name: reading_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.reading_history_id_seq', 1, false);


--
-- Name: reading_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.reading_status_id_seq', 36, true);


--
-- Name: report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.report_id_seq', 1, false);


--
-- Name: review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.review_id_seq', 1, false);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.role_id_seq', 12, true);


--
-- Name: utilisateur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.utilisateur_id_seq', 5, true);


--
-- Name: author author_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.author
    ADD CONSTRAINT author_pkey PRIMARY KEY (id);


--
-- Name: book book_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_pkey PRIMARY KEY (id);


--
-- Name: bookshelf bookshelf_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.bookshelf
    ADD CONSTRAINT bookshelf_pkey PRIMARY KEY (id);


--
-- Name: club club_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.club
    ADD CONSTRAINT club_pkey PRIMARY KEY (id);


--
-- Name: doctrine_migration_versions doctrine_migration_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.doctrine_migration_versions
    ADD CONSTRAINT doctrine_migration_versions_pkey PRIMARY KEY (version);


--
-- Name: messenger_messages messenger_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.messenger_messages
    ADD CONSTRAINT messenger_messages_pkey PRIMARY KEY (id);


--
-- Name: reading_history reading_history_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.reading_history
    ADD CONSTRAINT reading_history_pkey PRIMARY KEY (id);


--
-- Name: reading_status reading_status_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.reading_status
    ADD CONSTRAINT reading_status_pkey PRIMARY KEY (id);


--
-- Name: report report_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.report
    ADD CONSTRAINT report_pkey PRIMARY KEY (id);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: utilisateur_club utilisateur_club_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.utilisateur_club
    ADD CONSTRAINT utilisateur_club_pkey PRIMARY KEY (utilisateur_id, club_id);


--
-- Name: utilisateur utilisateur_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_pkey PRIMARY KEY (id);


--
-- Name: idx_1d1c63b3d60322ac; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_1d1c63b3d60322ac ON public.utilisateur USING btree (role_id);


--
-- Name: idx_6323e37e16a2b381; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_6323e37e16a2b381 ON public.reading_history USING btree (book_id);


--
-- Name: idx_6323e37efb88e14f; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_6323e37efb88e14f ON public.reading_history USING btree (utilisateur_id);


--
-- Name: idx_716f544861190a32; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_716f544861190a32 ON public.utilisateur_club USING btree (club_id);


--
-- Name: idx_716f5448fb88e14f; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_716f5448fb88e14f ON public.utilisateur_club USING btree (utilisateur_id);


--
-- Name: idx_75ea56e016ba31db; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_75ea56e016ba31db ON public.messenger_messages USING btree (delivered_at);


--
-- Name: idx_75ea56e0e3bd61ce; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_75ea56e0e3bd61ce ON public.messenger_messages USING btree (available_at);


--
-- Name: idx_75ea56e0fb7336f0; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_75ea56e0fb7336f0 ON public.messenger_messages USING btree (queue_name);


--
-- Name: idx_794381c616a2b381; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_794381c616a2b381 ON public.review USING btree (book_id);


--
-- Name: idx_794381c6f675f31b; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_794381c6f675f31b ON public.review USING btree (author_id);


--
-- Name: idx_794381c6fb88e14f; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_794381c6fb88e14f ON public.review USING btree (utilisateur_id);


--
-- Name: idx_b8ee387261220ea6; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_b8ee387261220ea6 ON public.club USING btree (creator_id);


--
-- Name: idx_c42f778494bdeeb6; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_c42f778494bdeeb6 ON public.report USING btree (reported_id);


--
-- Name: idx_c42f7784f675f31b; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_c42f7784f675f31b ON public.report USING btree (author_id);


--
-- Name: idx_cbe5a331f675f31b; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_cbe5a331f675f31b ON public.book USING btree (author_id);


--
-- Name: idx_e1ff60f016a2b381; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_e1ff60f016a2b381 ON public.bookshelf USING btree (book_id);


--
-- Name: idx_e1ff60f0a0c0446c; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_e1ff60f0a0c0446c ON public.bookshelf USING btree (reading_status_id);


--
-- Name: idx_e1ff60f0fb88e14f; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_e1ff60f0fb88e14f ON public.bookshelf USING btree (utilisateur_id);


--
-- Name: messenger_messages notify_trigger; Type: TRIGGER; Schema: public; Owner: app
--

CREATE TRIGGER notify_trigger AFTER INSERT OR UPDATE ON public.messenger_messages FOR EACH ROW EXECUTE FUNCTION public.notify_messenger_messages();


--
-- Name: utilisateur fk_1d1c63b3d60322ac; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT fk_1d1c63b3d60322ac FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: reading_history fk_6323e37e16a2b381; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.reading_history
    ADD CONSTRAINT fk_6323e37e16a2b381 FOREIGN KEY (book_id) REFERENCES public.book(id);


--
-- Name: reading_history fk_6323e37efb88e14f; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.reading_history
    ADD CONSTRAINT fk_6323e37efb88e14f FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id);


--
-- Name: utilisateur_club fk_716f544861190a32; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.utilisateur_club
    ADD CONSTRAINT fk_716f544861190a32 FOREIGN KEY (club_id) REFERENCES public.club(id) ON DELETE CASCADE;


--
-- Name: utilisateur_club fk_716f5448fb88e14f; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.utilisateur_club
    ADD CONSTRAINT fk_716f5448fb88e14f FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id) ON DELETE CASCADE;


--
-- Name: review fk_794381c616a2b381; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk_794381c616a2b381 FOREIGN KEY (book_id) REFERENCES public.book(id);


--
-- Name: review fk_794381c6f675f31b; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk_794381c6f675f31b FOREIGN KEY (author_id) REFERENCES public.author(id);


--
-- Name: review fk_794381c6fb88e14f; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk_794381c6fb88e14f FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id);


--
-- Name: club fk_b8ee387261220ea6; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.club
    ADD CONSTRAINT fk_b8ee387261220ea6 FOREIGN KEY (creator_id) REFERENCES public.utilisateur(id);


--
-- Name: report fk_c42f778494bdeeb6; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.report
    ADD CONSTRAINT fk_c42f778494bdeeb6 FOREIGN KEY (reported_id) REFERENCES public.utilisateur(id);


--
-- Name: report fk_c42f7784f675f31b; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.report
    ADD CONSTRAINT fk_c42f7784f675f31b FOREIGN KEY (author_id) REFERENCES public.utilisateur(id);


--
-- Name: book fk_cbe5a331f675f31b; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT fk_cbe5a331f675f31b FOREIGN KEY (author_id) REFERENCES public.author(id);


--
-- Name: bookshelf fk_e1ff60f016a2b381; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.bookshelf
    ADD CONSTRAINT fk_e1ff60f016a2b381 FOREIGN KEY (book_id) REFERENCES public.book(id);


--
-- Name: bookshelf fk_e1ff60f0a0c0446c; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.bookshelf
    ADD CONSTRAINT fk_e1ff60f0a0c0446c FOREIGN KEY (reading_status_id) REFERENCES public.reading_status(id);


--
-- Name: bookshelf fk_e1ff60f0fb88e14f; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.bookshelf
    ADD CONSTRAINT fk_e1ff60f0fb88e14f FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id);


--
-- PostgreSQL database dump complete
--

\unrestrict wRAUG04NXunnpBdL0IetVWS0ZUv07wolyK14iUgPX4qZ8ab5FSJimSEv4QuotRS

